html, body {
    margin: 0;
    padding: 0;
}

body{
  height: 100vh;
  display:grid;
  grid-template-rows: auto 1fr;
  font-family: 'Inter', sans-serif;
}

/* =================
  Typography
================= */

h1{
  font-size: 1.25rem;
  font-weight: 500;
}

/* =================
  General elements
================= */

button{
  cursor: pointer;
  transition: filter 0.1s ease-in-out;
}

button:active{
  filter:brightness(0.8)
}

/* =================
  Layout Container
================= */

.layout-container{
  padding: 0 2vw;
}

/* =================
  Header
================= */

header{
  border-bottom: 1px solid #00000015;
}


/* =================
  Scheme Container
================= */

.scheme-gen-container{
  height: 100%;
  max-width: 1000px;
  display:grid;
  grid-template-rows: auto 1fr;
  background-color: whitesmoke;
  margin: 0 auto;
}

/* =================
  Scheme Form
================= */

.scheme-gen-form{
  padding: 1.375rem 2vw;
  display: grid;
  grid-template-columns: auto 1fr auto; 
  column-gap: 1vw;
}

.scheme-gen-form input,
.scheme-gen-form select,
.scheme-gen-form button{
  background-color: #FFF;
  border: 1px solid #D1D5DB
}

.scheme-gen-form select,
.scheme-gen-form button{
  padding: .75em 1em;
}

.scheme-gen-form select{
  border-radius: 6px;
  flex-grow: 1;
}

.scheme-gen-form button{
  border-radius: 4px;
  font-weight: 500;
  font-size: .75rem;
}

.scheme-gen-form input[type="color"]{
  height: 100%;
  width: 7vw;
  min-width: 40px;
  background-color: #E5E5E5;
  border-radius: 0;
}

/* =================
  Scheme Display
================= */

.scheme-display{
  display:grid;
  grid-auto-rows: 200px;
  transition: filter 0.5s ease-in-out;
}

.scheme-color-button{
  position:relative;
  padding: 0;
  border: none;
  z-index: 1;
}

.scheme-color-container,
.scheme-color-info{
  pointer-events:none;
}

.scheme-color-container{
  width: 100%;
  height: 100%;
  position:relative;
  transition: transform 0.1s ease-in-out;
  border:none;
  overflow:hidden;
  z-index:-1;
}

.scheme-color-info{
  padding: .5em;
  position:absolute;
  bottom: .5rem;
  right: .5rem;
  background-color: white;
  box-shadow: 0 0 2px 0px #00000065;
  border-radius: 2px;
  z-index:-1;
}

.scheme-color-button:hover,
.scheme-color-button:focus {
  z-index: 2;
  outline:auto;
}


/* =================
  Modifiers
================= */

.obscure{
  filter:brightness(0.2)
}

/* =================
  Media queries
================= */

@media(min-width: 768px){
  h1{
    font-size: 1.5rem;
  }

  select{
    font-size: 1.25rem;
  }

  button{
    font-size: 1rem;
  }

  .scheme-display{
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows:auto;
  }

  .scheme-color-info{
    width: 100%;
    padding: 1em 0;
    bottom: 0;
    right: 0;
    text-align:center;
    box-shadow: none;
  }

  .scheme-color-button:hover,
  .scheme-color-button:focus{
    transform:translateY(-2px);
  }
}

@media(min-width: 1000px){
  main{
    padding: 2vh;
  }

  .scheme-gen-container{
    border-radius: 6px;
    box-shadow: 0 0 20px 0 #00000065;
  }

  .scheme-color-button:hover,
  .scheme-color-button:focus{
    transform:scale(1.01);
  }
}
